@media screen and (max-width:576px) {
    body{
        max-width: 90%;
        margin: 0 auto;
    }
    .header-container{
        display: block;
        margin-top: 20px;
    }
    .header-content>p{
        font-size: 25px;
        margin: 20px 0 20px 0;
    }

    .Our-Featured{
        margin-top: 100px;
    }

    .flower1-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 100px;
    }

    .oder-container{
        display: grid;
       grid-template-columns: repeat(2, 1fr); 
       gap: 70px;
    }

    .discount{
        flex-direction: column;
        gap: 80px;
    }
    .Instagram-flower-demo{
        grid-template-columns: repeat(1, 1fr);
    }
}