*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
}
.btn{
   background-color: #E55473; 
   color: #FFFFFF;
   padding: 20px 40px;
   border: none;
   border-radius: 5px;
   font-size: 20px;
   font-weight: 700;
   cursor: pointer;
}
/********** Header Section *************/
.header-container{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 50px;
}
.header-content>h2{
    color: #272727;
    font-size: 3rem;
    margin-bottom: 20px;
}
.header-content>p{
    color: #272727c0;
    font-size: 1.20rem;
    margin-bottom: 20px;
}
.header-img>img{
    width: 100%;
}
/******* Our Featured Flowers **********/
.Our-Featured{
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
}
.Our-Featured>h3{
    font-size: 3rem;
    font-weight: 700;
    color: #272727;
    margin-bottom: 24px;
}
.Our-Featured>p{
    font-size: 1.25rem;
    color: #272727b4;
}

.flower1-container{
    margin-top: 48px;
    margin-bottom: 200px;
    display: flex;
    gap: 70px;
}
.flower1{
    text-align: center;
}
.flower1>img{
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}
/************* oder ************/
.oder-container{
    display: flex;
    text-align: center;
    margin-bottom: 100px;
}
.oder p{
    color: #272727c7;
    margin-top: 20px;
}
/********** Hot Deal ! Sale Up To 25% Off *********/
.discount{
    display: flex;
    gap: 180px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
}
.deal h3{
    font-size: 3rem;
    color: #272727;
}
.deal h3 span{
    color: #E55473;
}
.deal p{
    color: #272727b9;
    line-height: 1.25;
    margin: 20px;
}
/******** Instagram ******/
.instagram{
    display: flex;
    text-align: center;
}
.instagram h3{
    font-size: 3rem;
    color: #272727;
}
.instagram p{
    color: #272727c0;
    margin: 24px 0 50px 0;
}

.Instagram-flower-demo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-bottom: 128px;
}